.screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-field{
    border-radius: 8px;
    border-color: #101010;
    margin: 1px;
    padding: 3px;
    font-size: 16px;
    width: 15vw;
}