.input-field{
    border-radius: 8px;
    border-color: #101010;
    margin: 1px;
    padding: 3px;
    font-size: 16px;
    width: 25vw;
    max-width: 210px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  gap: 5px;
}
.button {
    background-color: #000000;
    border: 3px solid #FF5005;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding: 03.60925vw 14.4369vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: auto;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Arial', 'Helvetica', sans-serif;
    max-height: 27px;
}