.input-field{
    border-radius: 8px;
    border-color: #101010;
    margin: 1px;
    padding: 3px;
    font-size: 16px;
    width: 25vw;
    max-width: 210px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  gap: 5px;
}
button {
  align-self: center;
  color: #ffffff;
  background-color: #FF5005;
  border-color: #ffffff;
  min-width: 60px;
  width: 60px;
  border-radius: 8px;

}
.buttons{
  align-self: center;
  color: #ffffff;
  background-color: #FF5005;
  border-color: #FF5005;
  min-width: 60px;
  width: 151px;
  border-radius: 8px;
  height: 20px;
  font-size: 18px;
  line-height: 1px;
}
.buttons:hover {
  opacity: 0.7; /* Example: make the image slightly transparent */
  cursor: pointer; /* Ensures the hand icon appears on the image itself */
}