.Iphone {

position: relative;
width: 50vw;
height: 50vh;
overflow: hidden;
background : #bb1010;
border-radius: 40px;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;

}
.workouts-logo {

position: absolute;
width: 61.49vw;
width: clamp(300px, 61.49vw, 800px);


height: clamp(55px, 20vh, 150px);
left: 19.154%;
top: 39.2vh;
}
body{
    overflow: hidden;
    background: #101010;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}