.plan-card {
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  width: 90%;
  gap: 10px;
  border-radius: 0px;
  padding: 8px;
  height: 85%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #575252;
  overflow-x: auto;
  margin-bottom: 10vh;
  white-space: normal;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  box-shadow: 0 0 15px #ffffff;

}
 .planning{
    display: flex;
    flex-direction: row;    /* stack children vertically */
    justify-content: center; /* vertical alignment to top */
    align-items: center;     /* horizontal alignment to left */
    gap: 10px;
    color: black;
    padding: 1px;
    width: 95%;
    height: auto;              /* fixed height for clarity */
    line-height: 1.25;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;      /* preserves line breaks */
    
}
