.plan-card {
  border: 1px solid #000000;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  grid-template-columns: 100px 1fr;
  column-gap: 10px;
  width: 70%;
  gap: 10px;
  border-radius: 0px;
  padding: 8px;
  height: 85%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #575252;
  overflow-x: hidden;
  margin-bottom: 10vh;
  white-space: normal;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  box-shadow: 0 0 15px #ffffff;

}
 .planning{
    display: flex;
    flex-direction: row;    /* stack children vertically */
    justify-content: center; /* vertical alignment to top */
    align-items: center;     /* horizontal alignment to left */
    gap: 0px;
    color: black;
    padding: 1px;
    width: 100%;
    height: auto;              /* fixed height for clarity */
    line-height: 1.25;
    white-space: pre-wrap;      /* preserves line breaks */
    
}
input{
  border: 1px solid #FF5005;
  min-width: 55px;
  width: 145px;
  filter: drop-shadow(0 0 3px #FF5005);

}
input::placeholder {
  opacity: 1; /* 50% transparency */
  color: black;

}
select {
  border: 1px solid #FF5005;
  padding: 3px;
  background-color: white;
  min-width: 60px;
  width: 151px;
  align-self: flex-start;
  filter: drop-shadow(0 0 3px #FF5005);
  border-radius: 0;
  align-items: flex-end;

}
span {
  width: 200px;
  min-width: 122.35px;
  text-align: left;
  margin-right: 10px;
  font-size: medium;
  
}
.confirm{
  align-self: center;
  color: #FF5005;
  background-color: #000000;
  border-color: #FF5005;
  min-width: 60px;
  width: 151px;

}