.screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}