.plans-card {
  border: 1px solid #FF5005;
  width: 75%;
  border-radius: 8px;
  padding: 8px;
  height: 75%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #575252;
  overflow-x: auto;
  margin-bottom: 10vh;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.cards {
    display: flex;
    gap: 5px;
    align-self: flex-start;
}
