.plans-card {
  border: 1px solid #FF5005;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 75%;
  gap: 10px;
  border-radius: 8px;
  padding: 8px;
  height: 75%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #575252;
  overflow-x: auto;
  margin-bottom: 10vh;
  white-space: normal;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  box-shadow: 0 0 15px #FF5005;

}
.cards {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    align-self: flex-start;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 5px #000000;
    color: black;
    width: 30%;
    height: 100%;
    border-radius: 8px;
    overflow-wrap: break-word;
    min-width: 100px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;  /* preserves line breaks but allows wrapping */
    overflow-y: auto;        
}
.cards > * {
    /* allow flex children to shrink */
    min-width: 0;
    
    /* text wrapping rules */
   
}