
html,
body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  color: #f5f5f5;
  min-height: 100svh;
  width: 100%;
  overflow: hidden;
}
#root {
  min-height: 100svh; /* mobile-safe viewport */
  display: flex;
  flex-direction: column;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo {

  position: fixed;
  width: clamp(75px, 10vw, 140px);
  height: auto;
  max-height: 75px;
  min-height: 50px;
  filter: drop-shadow(0 0 5px #FF5005);

  left: 0;
  top: 0;


}
.profile-logo {

  position: fixed;
  filter: drop-shadow(0 0 5px #fefdff);
  width: clamp(40px, 5vw, 140px);
  height: auto;
  max-height: 75px;
  min-height: 50px;
  right: 10px;
  top: 0;


}


.header {
  position: relative;
  width: 100%;
  height: 10vh;
  background: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 10;
}
.screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}