body{
    overflow: hidden;
    background: #101010;
    color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo {

  position: fixed;
  width: clamp(75px, 10vw, 140px);
  height: auto;
  max-height: 75px;
  min-height: 50px;
  left: 0;
  top: 0;


}
.header {
  position: fixed;
  width: 50%;
  height: 20vh;
  background: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 10;
}
.screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}